*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
    font-family: "roboto", sans-serif;
}

header {
    background-color: #1f2937;
    color: #f9faf8;
    font-weight: bolder;
    font-size: 48px;
}

section {
    color: #1f2937;
    font-weight: bolder;
    font-size: 36px;
}

footer {
    background-color: #1f2937;
    color: #f9faf8;
}

